{% extends 'base.html' %}

{% block content %}
  <h2>Detalhes da Consulta</h2>
  
  <p><strong>Paciente:</strong> {{ consulta.paciente }}</p>
  <p><strong>Dentista:</strong> {{ consulta.dentista }}</p>
  <p><strong>Data:</strong> {{ consulta.data }}</p>
  <p><strong>Hora:</strong> {{ consulta.hora }}</p>
  <p><strong>Status:</strong> {{ consulta.status }}</p>
  
  <h3>Procedimentos Realizados:</h3>
  <ul>
    {% for procedimento in consulta.procedimentos.all %}
      <li>{{ procedimento.nome }} - {{ procedimento.descricao }}</li>
    {% endfor %}
  </ul>
  
  {% if user.cliente != consulta.paciente %}
    <a href="{% url 'consultas:editar_consulta' pk=consulta.pk %}">
      <button>Editar Consulta</button>
    </a>
  {% endif %}

  <a href="{% url 'consultas:lista_consultas' %}">Voltar para a lista de consultas</a>
{% endblock %}
