{% extends 'base.html' %}

{% block content %}
    <h1>Consultas</h1>

    {% if consultas %}
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Status</th>
                    <th>Paciente</th>
                    <th>Dentista</th>
                    <th>Procedimentos</th>
                </tr>
            </thead>
            <tbody>
                {% for consulta in consultas %}
                    <tr>
                        <td>{{ consulta.data }}</td>
                        <td>{{ consulta.hora }}</td>
                        <td>{{ consulta.status }}</td>
                        <td>{{ consulta.paciente.nome }}</td>
                        <td>{{ consulta.dentista.nome }}</td>
                        <td>
                            
                            <a href="{% url 'consultas:detalhes_consulta' consulta.id %}">Ver Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há consultas agendadas.</p>
    {% endif %}
{% endblock %}
