{% extends 'base.html' %} 
{% block content %}

<h2>Busca de Procedimento por Nome</h2>
<form class="formClass" action="{% url 'procedimentos:searchProcedimento' %}">
    <p>
        <label for="id_query">Nome:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>

<h2>Procedimentos Filtrados</h2>
{% if procedimento_list %}
<section>
  {% for procedimento in procedimento_list %}
  <article>
    <a href="{% url 'procedimentos:detailProcedimento' procedimento.id %}">
      <p>{{ procedimento.nome }} ({{ procedimento.preco}})</p>
    </a>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum Procedimento.</p>
{% endif %} 
{% endblock content %}