body main{
    margin-left: 15%;
    margin-right: 15%;
    padding: 1 rem; 
    font-family: Arial, sans-serif;
}


body main table {
    width: 100%; /* Tabela ocupa toda a largura disponível */
    border-collapse: collapse; /* Remove o espaço entre as células */
    margin: 0; /* Espaçamento em torno da tabela */
    font-family: Arial, sans-serif; /* Fonte para o texto */
}

body main th {
    padding: 12px 15px; /* Espaçamento dentro das células do cabeçalho */
    text-align: center; /* Alinhamento do texto à esquerda */
    font-size: 16px; /* Tamanho da fonte */
    border:  1.5px solid #8f8f8f; /* Linha divisória entre as linhas */
}

body main td {
    padding: 10px 15px; /* Espaçamento dentro das células */
    text-align: left; /* Alinhamento do texto à esquerda */
    border:  1.5px solid #8f8f8f; /* Linha divisória entre as linhas */
    font-size: 14px; /* Tamanho da fonte */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre os elementos */
    padding: 10px 20px;
    background-color: #023e8a; /* Azul escuro */
    color: white;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.dados-usuario {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dados-usuario li {
    margin-left: 15px;
    color: white;
}

.dados-usuario a {
    color: #00b4d8;
    text-decoration: none;
}

.dados-usuario a:hover {
    text-decoration: underline;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botao-menu {
    background: none;
    border: none;
    cursor: pointer;
}

.botao-menu img {
    width: 30px;
    height: 30px;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela inicialmente */
    width: 250px;
    height: 100%;
    background-color: #023e8a; /* Azul escuro */
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease; /* Animação suave para abrir/fechar o menu */
    z-index: 10; /* Acima do overlay */
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #00b4d8; /* Azul claro */
}

.sidebar.open {
    left: 0;
}

nav {
    display: flex;
    justify-content: center; 
    padding: 12px 10px; 
    gap: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
}