{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="GABRIEL NEGREIROS, NICOLAS SOBRAL CRUZ, PIETRO DI BEO, PIETRO LUIGI BALDAN CARBONE">
	<meta name="description" content="Trabalho apresentado a disciplina de Sistemas de Informação da Escola Politécnica da Universidade de São Paulo">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"> 
	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <title>{% block title %}{% endblock %} | Odontech</title>
</head>
<body>
   <header>

        {% include 'menu_deslizante.html' %} <!--  Ver menu_delizante.html -->
        
        <!-- Incluir o menu de navegação específico do app -->
        {% if request.resolver_match.app_name == 'consultas' or request.resolver_match.app_name == 'exames' or request.resolver_match.app_name == 'contas' %}
            {% with nav_path=request.resolver_match.app_name|add:'/nav.html' %}
                {% include nav_path %}
            {% endwith %}
        {% else %}
        
        {% endif %}


        <h1>Odontech</h1>

        <div class="dados-usuario">
            {% if user.is_authenticated %}
                <li>Logado com {{ user }}, {{ user.tipo_usuario }}</li>
                <li>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock content %}
        <script src="{% static 'header.js' %}"></script>
    </main>

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>

</body>
</html>