{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="GABRIEL NEGREIROS, NICOLAS SOBRAL CRUZ, PIETRO DI BEO, PIETRO LUIGI BALDAN CARBONE">
	<meta name="description" content="Trabalho apresentado a disciplina de Sistemas de Informação da Escola Politécnica da Universidade de São Paulo">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"> 
    <!-- Favicon 
	<link rel="shortcut icon" href="{% static 'favicon.png' %}">
    -->
    <title>{% block title %}{% endblock %} | Odontech</title>
</head>
<body>
   <header>

        <div class="menu-container">

            <button class="botao-menu" onclick="openMenu()" aria-label="Abrir menu">
                <img src="{% static 'icone_menu.png' %}" alt="Ícone do menu">
            </button>
            
            <div id="overlay" class="overlay" onclick="closeMenu()"></div>
            
            {% if user.tipo_usuario == 'admin' %}
                <div id="sidebar" class="sidebar">
                    <a href="{% url 'contas:profile' %}">Início</a>
                    <a href="#sobre">Sobre</a>
                    <a href="#contato">Contato</a>
                </div>

            {% elif user.tipo_usuario == 'dentist' %}
                <div id="sidebar" class="sidebar">
                    <a href="{% url 'contas:profile' %}">Início</a>
                    <a href="#sobre">Sobre</a>
                    <a href="#contato">Contato</a>
                </div>

            {% elif user.tipo_usuario == 'secretary' %}
                <div id="sidebar" class="sidebar">
                    <a href="{% url 'contas:profile' %}">Início</a>
                    <a href="#sobre">Sobre</a>
                    <a href="#contato">Contato</a>
                </div>
                
            {% else %}
                <div id="sidebar" class="sidebar">
                    <a href="{% url 'contas:profile' %}">Início</a>
                    <a href="{% url 'consultas:criar_consulta' %}">Agende uma Consulta</a>
                    <a href="{% url 'consultas:lista_consultas'%}">Suas Consultas</a>
                </div>
            {% endif%}

        </div>

        <h1>Odontech</h1>

        <div class="dados-usuario">
            {% if user.is_authenticated %}
                <li>Logado com {{ user.username }}</li>
                <li>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </div>
        
   </header>

   <main>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'header.js' %}"></script>
    </main>

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>

</body>
</html>