{% extends 'base.html' %} 
{% block content %}
<h2>Todos os Secretarios</h2>

<section>
  <p>
    Muitos resultados? <a href="{% url 'funcionarios:searchSecretario' %}">Buscar Secretário</a>
  </p>
  <p>
    <a href="{% url 'funcionarios:createUserSecretario' %}">Adicionar Novo Secretário</a>
  </p>
</section>
<hr>
{% if secretario_list %}
<section>
  {% for secretario in secretario_list %}
  <article>
    <a href="{% url 'funcionarios:detailSecretario' secretario.id %}">
      <p>{{ secretario.nome }}</p>
    </a>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum secretário.</p>
{% endif %} 
{% endblock content %}