{% extends 'base.html' %} 
{% block content %}

<h2>Busca de Secretario por Nome</h2>
<form class="formClass" action="{% url 'funcionarios:searchSecretario' %}">
    <p>
        <label for="id_query">Nome:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>

<h2>Secretarios Filtrados</h2>
{% if secretario_list %}
<section>
  {% for secretario in secretario_list %}
  <article>
    <a href="{% url 'funcionarios:detailSecretario' secretario.id %}">
      <p>{{ secretario.nome }} ({{ secretario.clinica}})</p>
    </a>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum Secretario.</p>
{% endif %} 
{% endblock content %}