{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock title %}

{% block content %}
<h2>Bem-vindo ao seu perfil, {{ user }}</h2>

<ul>
    <li>Email: {{ user.email }}</li>
    <li>Tipo de usuário: {{ user.tipo_usuario }}</li>
</ul>

    {% if user.tipo_usuario == 'admin' %}

        <div class="admin_actions">

                <a href="{% url 'funcionarios:indexDentista' %}" class="btn btn-primary">Ver Dentistas</a>
                <a href="{% url 'funcionarios:indexSecretario' %}" class="btn btn-primary">Ver Secretários</a>

            </div>

    {% elif user.tipo_usuario == 'secretary' %}

        <div class="secretary_actions">

            <a href="{% url 'funcionarios:indexDentista' %}" class="btn btn-primary">Ver Dentistas</a>


        </div>

    {% elif user.tipo_usuario == 'dentista' %}

    {% endif%}


{% endblock content %}
